<div class="row  justify-content-center">
  <div class="col col-lg-6">
    <h1>Add a grind session</h1>
    <form >
      <div class="row">
        <div class="col">
          <div class="input-group">
            <div class="input-group-text">Silver before</div>
            <input type="text" class= 'form-control' id=''>
            <div class="input-group-text">and Silver After</div>
            <input type="text" class= 'form-control' id=''>
          </div>
        </div>
        <div class="col-1">
          <p>Or</p>
        </div>
        <div class="col">
          <div class="input-group">
            <div class="input-group-text">Silver gained</div>
            <input type="text" class= 'form-control' id=''>

          </div>
        </div>
      </div>
      <input type="text" class= 'form-control' id=''>
    </form>

  </div>
</div>

