
    <div class="col-4">
      <h2>{{title}}</h2>
    </div>
    <div class="row align-items-center ">

      <div class="col">
        <label for="time" class = 'form-label'>Time</label>
        <select class="form-select" id = 'time' [(ngModel)] = 'time'>
          <option selected value="1">Past year</option>
          <option value="2"> Past month</option>
          <option value="3"> Past week</option>
        </select>
      </div>
      <div class="col">
        <label for="class" class = 'form-label'>Class</label>
        <select class="form-select" id = 'class' [(ngModel)] = 'class'>
          <option selected value="1">All</option>
          <option *ngFor = 'let class of classes;let i = index'value="{{i+2}}">{{class}}</option>
        </select>
      </div>

      <div class="col">
        <label for="AP" class = 'form-label'>AP [Leave empty for all]</label>
        <div class="input-group">
          <input class = 'form-control' type="number" id ='AP' [(ngModel)] = 'APStart'>
          <div class="input-group-text">To</div>
          <input class = 'form-control' type="number"  [(ngModel)] = 'APEnd'>
        </div>
      </div>

      <div class="col">
        <label for="DP" class = 'form-label'>DP [Leave empty for all]</label>
        <div class="input-group">
          <input class = 'form-control' type="number" id ='DP' [(ngModel)] = 'DPStart'>
          <div class="input-group-text">To</div>
          <input class = 'form-control' type="number" [(ngModel)] = 'DPEnd'>
        </div>

      </div>




      <ul class="list-group pt-3">
        <li style = 'cursor: pointer;' *ngFor = 'let spot of grindSpots; let i = index' li class="list-group-item" (click) = 'spotSelected(spot.name)'>
          <div class="row" >

            <div class="col col-2">
              <a>{{(i+1)+'. '+spot.name}}</a>
            </div>
            <div class="col">
              <p >{{spot.quantity + ' ' + units}}</p>
            </div>
          </div>
        </li>

      </ul>



